* {

    margin: 0;
    padding: 0;
  }

  :root {
    --bkgd: #8fbb95;
    --contrast: #3f825a;
    --dark: #044723;
  }

  body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }


.header{
  min-height: 28vh;
  width:100%;
  background-color: #060606;
  background-position: center;
  background-size: cover;
  position: relative;
  border-bottom: dotted darkolivegreen;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%
}

.nav-links{
  flex:1;
  text-align: right;
}
.nav-links ul li a {
  color: var(--dark);
  font-size: 23px;
  text-decoration: none;
}

.nav-links ul li  {
  list-style: none;
  display:inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li::after  {
  content:'';
  width: 100%;
  height: 2px;
  background: var(--dark);
  display: block;
  margin: auto;

}

.header h1{
  font-size: 62px;
  color: var(--dark);
}

.header h2{
  font-size: 37px;
  color: var(--contrast);
}

@media(max-width:700px){
  .header h1{
    font-size: 35px;}
  .header h2{
    font-size:20px;}
    .nav-links ul li a {
      font-size: 11.5px;
  }
}
.about-me {
  width:100%;
  margin:auto;
  text-align:center;
  background-color: var(--bkgd);
  display:flex;
}

h3 {
  left: 30px;
  font-size: 52px;
  margin-left: 18px;
  display: flex;
  text-align: end;
  width: 33%;
  position: relative;
  border-right: solid 10px darkolivegreen;
}

.about-me p {
  color: var(--dark);
  font-size: 20px;
  text-indent: 5%;
  line-height: 20px;
  padding: 31px;
}

.about-me a {
  color: var(--dark);
  text-decoration: none;
}

.about-me img {
  align-items: center;
  height: 100%;
  padding-top: 5px;
  display: inline-flex;
  left: 30px;
  position: relative;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  border-top: solid 20px darkolivegreen;
}

.horiseon{
  border-style: solid;
  border-width: 13px;
  padding: 13px;
  margin: 31px;
  flex: 0 0 300px;
}

  .horiseon img{
    width: 100%;
 
  }

  .horiseon header {
    text-align: center;
    background: #795548;
    color: #fff;
    font-size: 40px;
  }

  
  .horiseon p {
    text-align: center;
    font-size: 30px;
  }

  .row2 {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .comingsoon {
    border-style: solid;
    border-width: 13px;
    margin: 31px;
    flex: 1 0 2%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }

  .comingsoon img {
width: 100%;
  }

 .row h4 {
  font-size: 52px;
  display: flex;
  text-align: center;
  width: 100%;
  position: relative;
  border-right: solid darkolivegreen;
  justify-content: center;
  }

  .comingsoon h5 {
    text-align: center;
    background: #795548;
    color: #fff;
    font-size: 40px;
  }

  .comingsoon p{
    text-align:center;
    font-size: 25px;
  }

  .contactme {
    min-height: 15vh;
    width: 100%;
    background-color: #795548;
    background-position: center;
    background-size: cover;
    position: relative;
    border-top: solid 5px;
  }

  .contactme h6{
    font-size: 85px;
    color: #fff;
    width: 50%;
    display: inline-flex;
    position: relative;
    top: 1vh;
  }


nav2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
  width: 50%;
  left: 35vw;
  top: -2vh;
}


.nav-contact {
  flex: 1;
  text-align: center;
  font-size: 60px;
  color: #fff;
  justify-items: center;
  justify-content: space-evenly;
}

.nav-contact ul li {
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}

.nav-contact ul li a {
  color: #fff;
  font-size: 23px;
  text-decoration: none;
}